* { margin:0; padding:0; box-sizing:border-box; }

@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	background-color: rgba(220,220,220,1);
	color: black;
	font-family: Arial, helvetica, sans-serif;
}

header {
	background-color: #FFED74;
	border: 1px solid black;
	padding: 20px;
	line-height: 2em;
	margin: 2px 5px 30px 5px;
}

nav {
	background-color: #E8C66A;
	margin: 0 0 20px 0;
	border: 1px solid black;
	padding: 20px;
	display: inline;
	float: right;
}

/*#nav {
	display: block;
	float: right;
}*/

section {
	background-color: #FFE2B8;
	border: 1px solid black;
	padding: 20px;
}

#intro {
	background-image: url("images/heavensushihero.jpeg");
	font-family: 'Merriweather', cursive, helvetica, sans-serif;
	font-weight: bold;
	margin: 20px 0;
	padding: 10em;
	text-align: center;
}

h1 {
	font-size: 50px;
}

.calltoaction {
	font-family: helvetica;
	font-weight: normal;
	display: inline;
}

#mission {
	text-align: center;
	margin: 0;
	line-height: 1.5em;
}

#featured {
	padding: 20px 0 0 0;
}

.rolls {
	padding: 10px 0;
	margin: 20px 0;
}

footer {
	background-color: #FF957E;
	font-size: 10px;
	border: 1px solid black;
	padding: 20px;
}







