* { margin:0; padding:0; box-sizing:border-box; }

@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	background-color: rgba(220,220,220,1);
	color: black;
	font-family: Arial, helvetica, sans-serif;
}

header {
	padding: 20px;
	line-height: 2em;
	margin: 2px 5px 30px 5px;
}

nav {
	float: right;
}

img {
	width: 25em;
}

nav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 1em;
}

a:hover {
	background-color: white;
}

section {
	padding: 20px;
}

h1 {
	font-size: 50px;
}

footer {
	font-size: 10px;
	padding: 20px;
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#headerdiv {
	float: left;
}

#intro {
	background-image: url("../images/heavensushihero.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Merriweather', cursive, helvetica, sans-serif;
	font-weight: bold;
	margin: 4em 0;
	padding: 14em;
	text-align: center;
}

#calltoaction {
	font-family: helvetica;
	font-weight: normal;
	display: inline;
}

#mission {
	text-align: center;
	margin: 0;
	line-height: 1.5em;
}

#featured {
	padding: 20px 0 0 0;
}

.rolls {
	padding: 10px 0;
	margin: 20px 0;
}

#one_column {
    padding: 20px;
}

#left {
    padding: 20px;
    float: left;
    width: 50%;
    text-align: center;
}

#right {
    padding: 20px;
    float: right;
    width: 50%;
    text-align: center;
}

#information {
	padding: 20px;
}

#location {
    padding: 20px;
    float: left;
    width: 50%;
    text-align: center;
}

#contact {
    padding: 20px;
    float: right;
    width: 50%;
    text-align: center;
}

#last {
	text-align: center;
}
